
:host {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  
  h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #333;
  }
  
 
  ul {
    list-style: none;       
    padding: 0;              
    margin: 0;              
  }

  li {
    background-color: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
  }
  
 
  a {
    text-decoration: none;
    color: #094a91;
  }
  
  a:hover {
    text-decoration: underline;
    color: #cf3a93;
  }
  