<div class="home-page">
    <h1>Welcome to the Design Patterns App</h1>
    
    <p>
      -הינו תבנית עיצוב  <strong>Design Patterns</strong> <br>
      פתרון כללי לבעיה נפוצה בתכנון ופיתוח תוכנה. במקום להמציא פתרון מאפס,<br> ניתן להשתמש בתוכניות מוכרות המספקות מבנה גמיש, קריא וניתן לתחזוקה.
    </p>
    <p>
      <strong>למה זה חשוב?</strong><br>
      ארגון קוד טוב יותר, קוד ניתן להרחבה ולשימוש חוזר, פתרון בעיות מוכח, מקבול מאוד בתעשיה.
    </p>
    <p>
      כאן ניתן ללמוד על הסוגים השונים ודרכי המימוש שלהם:
    </p>
    
    <a routerLink="/patterns" class="patterns-link">עבור ל-Patterns</a>
    
    </div>